@media (max-width :1599px) {

    /* Header start */
    .navbar .navbar-brand {
        margin-right: 30px;
    }

    /* Header End */
}

@media (max-width: 1399px) {


    /* header Start */
    .navbar .button {
        padding: 15px 15px;
        font-size: 14px;
        margin-left: 10px;
    }

    .navbar {
        padding: 0 30px;
    }

    .navbar .menu-icons a {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    .navbar a.nav-link {
        font-size: 15px;
    }

    /* Header End */
}

@media (max-width: 1199px) {
    .anim-icon {
        display: none;
    }

    /* Header Start */
    .navbar .button {
        display: none;
    }


    .navbar .navbar-brand {
        margin-right: 10px;
    }

    .navbar .menu-icons a {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    /* Header End */

    /* Banner Start */
    .booking-form .form-group {
        width: 50%;
        margin-bottom: 30px;
        padding: 0px 15px;
    }

    .banner-outer .form-group input[type="text"],
    .banner-outer .form-group input[type="date"],
    .banner-outer .form-group select {
        max-width: 100%;
    }

    .booking-form .msg-button {
        position: relative;
        top: 0px;
        right: 0px;
        width: 50%;
        float: left;
        padding: 0px 15px;
        margin-top: -30px;
    }

    .booking-form .button {
        display: block;
        width: 100%;
    }

    /* Banner End */

    /* About Start */
    .about-outer .anim-icon {
        display: none;
    }

    .about-outer .item:first-child .item-inner {
        margin-right: 0;
    }

    .about-outer .item .item-inner {
        text-align: center !important;
    }

    .about-outer .item .img-content {
        text-align: center !important;
    }

    .about-outer .item:first-child .item-inner {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .about-outer .item:last-child .item-inner {
        margin-top: 0;
    }

    /* About End */

    /* Deals Start */
    .deal-outer .owl-nav {
        display: none;
    }

    .deal-outer .text-content {
        padding: 0px 30px;
    }

    /* Deals End */

    /* Footer Start */
    footer .top .link-inner,
    footer .top .logo-inner,
    footer .top .gallery-inner,
    footer .top .contact-inner {
        margin: 0;
    }

    /* Footer End */

    /* list Start */
    .list-grid-outer .item-shorting .pull h3 {
        font-size: 20;
    }

    /* list End */
}

@media (max-width: 991px) {
    /* Header Start */

    .navbar .navbar-collapse .img-content {
        display: block;
        margin: 30px;
    }

    .navbar #basic-navbar-nav {
        position: absolute;
        top: 0%;
        right: 0;
        width: 300px;
        background: #061a3a;
        height: 1200px;
        z-index: 99;
    }

    .navbar a.nav-link {
        padding: 10px 30px !important;
        margin: 0;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);

    }

    .navbar .left {
        justify-content: space-between;
    }

    header .navbar .navbar-toggler {
        position: absolute;
        right: 20px;
        z-index: 999;
        transition: all 0.8s ease-in-out;
    }

    .navbar-toggler.collapsed {
        z-index: 111;
        position: absolute;
        right: 130px !important;
        transition: all 0.01s ease-in-out;
    }



    .navbar-nav {
        padding-top: 80px;
    }

    .navbar .dropdown .dropdown-menu.show {
        background: #061a3a;
        border: none;
        width: 100%;
        box-shadow: none;
        position: relative;
        border-radius: 0;
        padding: 0;
    }

    .navbar .dropdown .dropdown-menu a {
        color: #fff;
        padding-left: 55px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    .navbar .dropdown-toggle::after {
        position: absolute;
        right: 6px;
        top: 6px;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 12px;
        line-height: 32px;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.10);
        border-radius: 2;
    }

    .navbar .contact-info {
        position: relative;
        padding: 120px 30px 20px 30px;
        display: block;
    }

    .navbar .contact-info h4 {
        position: relative;
        font-size: 20px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .navbar .contact-info ul li {

        position: relative;
        display: block;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.80);
        margin-bottom: 3px;
    }

    .navbar .contact-info ul li a {
        color: rgba(255, 255, 255, 0.80);
    }

    .navbar .social-links {
        display: block;
        position: relative;
        padding: 0px 25px;
    }

    .navbar .social-links li {
        position: relative;
        display: inline-block;
        margin: 0px 10px 10px;
    }

    .navbar .social-links li a {
        position: relative;
        line-height: 32px;
        font-size: 16px;
        color: #ffffff;
        transition: all 500ms ease;
    }

    /* Header End */

    /* Feature Start */
    .feature-outer {
        padding-bottom: 120px;
    }

    .feature-outer .item {
        width: 50%;
    }

    .feature-outer .item-inner {
        margin-bottom: 30px;
    }

    /* Feature End */

    /* Deals Start */
    .deal-outer .img-content,
    .deal-outer .text-content {
        width: 100%;
    }

    .deal-outer .item {
        max-width: 600px;
        margin: 0 auto;
    }

    .deal-outer .text-content {
        padding: 40px 30px;
    }

    /* Deals End */

    /* Destination Start */

    .destination-outer {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    .destination-outer .heading-main {
        text-align: center;
    }

    .destination-outer .item-inner,
    .destination-outer .link-inner {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Destination End */

    /* News Start */
    .news-outer {
        padding-bottom: 150px;
    }

    .news-outer .item {
        margin-bottom: 30px;
    }

    /* News End */

    /* Footer Start */
    footer .top .link-inner,
    footer .top .logo-inner,
    footer .top .gallery-inner,
    footer .top .contact-inner {
        margin-bottom: 30px !important;
    }

    footer .top {
        padding-bottom: 80px;
    }

    /* Footer End */

    /* Destination list Start */
    .destination-list .item {
        width: 100%;
    }

    /* Destination list End */

    .pages-outer {
        padding: 120px 0;
    }

    /* Destination Details Start*/
    .desdetail-outer .content-inner {
        padding-right: 0;
    }

    /* Destination Details End*/

    /* Sidebar Start */
    .sidebar-side .sidebar-inner {
        margin-left: 0px;
        margin-top: 30px;
    }

    /* Sidebar End */
    .toure-outer .content-inner {
        padding-right: 0;
    }

    .contactinfo-main .item-inner {
        margin-bottom: 30px;
    }

    .contact-outer .item-inner{
        margin-bottom: 30px;
    }

}


@media (max-width: 767px) {

    /* Heading Start */
    .heading {
        margin-bottom: 30px;
    }

    .heading h2 {
        font-size: 36px;
        line-height: 45px;
    }

    /* Heading End */

    /* Banner Start */
    .banner-outer {
        padding: 180px 0 60px 0;
    }

    .banner-outer .title-text h2 {
        font-size: 60px;
        line-height: 40px;
    }

    .banner-outer .title-text p {
        font-size: 20px;
    }

    .booking-form .button {
        padding: 19.5px;
    }

    /* Banner End */
    /* Feature Start */
    .feature-outer {
        padding-top: 65px;
        padding-bottom: 40px;
    }

    .feature-outer .item {
        width: 100%;
    }

    .feature-outer .item {
        max-width: 400px;
    }

    /* Feature End */

    /* About Start */
    .about-outer {
        padding: 70px 0;
    }


    /* About End */

    /* Deals Start */
    .deal-outer {
        padding: 65px 0px 70px 0px;
    }

    /* Deals End */


    /* Destination Start */
    .destination-outer {
        padding: 65px 0px 40px 0px;
    }

    /* Destination End */
    /* Explore Start */
    .explore-outer {
        padding: 65px 0px 120px 0px;
    }

    .explore-outer .map .map-inner {
        min-height: 500px;
    }

    .explore-outer .map .item {
        left: 30px !important;
        right: inherit !important;
    }

    /* Explore End */

    /* News Start */
    .news-outer {
        padding-bottom: 120px;
    }

    .news-outer .item {
        margin-bottom: 30px;
    }

    .news-outer .item-inner {
        max-width: 370px;
        margin: 0 auto;
    }

    /* News End */

    /* DEstination Details Start */
    .photo-gallery .img {
        width: 100%;
    }

    .photo-gallery .ant-image {
        width: 100%;
    }

    /* DEstination Details End */

    /* Toure PAges Start */
    .team .inner-item {
        max-width: 370px;
        margin: 0 auto;
    }

    .toure-outer .text .info-list li{
        display: block;
        width: 100%;
    }

    /* Toure PAges End */

    /* Booking Process Start */
    .booking-form-outer {
        padding: 70px 0px;
        padding-bottom: 120px;
    }

    /* Booking Process End */


}

@media (max-width:567px) {

    footer .top {
        padding-bottom: 60px;
    }

    footer .bottom .item {
        width: 100%;
        text-align: center;
    }

    .country-details ul li {
        padding-bottom: 25px;
    }

    .country-details ul li span.title {
        display: block;
        border: none;
        padding-bottom: 0px;
    }

    /* Booking Process */

    .booking-form-outer .process-label li {
        width: 100%;
    }
}

@media (max-width : 480px) {

    .heading {
        font-size: 30px;
        line-height: 38px;
    }

    /* Header Start */
    .navbar #basic-navbar-nav {
        width: 100%;
    }

    /* Header End */

    /* Banner Start */

    .banner-outer .title-text h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .banner-outer .title-text p {
        font-size: 18px;
        line-height: 30px;
    }

    .booking-form .form-group {
        width: 100%;
        padding: 0;
    }

    .booking-form .msg-button {
        margin-top: 0;
        padding: 0;
        width: 100%;
    }

    /* Banner End */


    /* List Grid */
    .list-grid-outer .item-shorting {
        position: relative;
        margin-bottom: 10px;
        justify-content: center;
    }

    .list-grid-outer .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap {
        justify-content: center;
    }

    .tour-block-item .item-inner {
        padding-left: 30px;
    }

    .tour-block-item .item-inner .img-content {
        position: relative;
        left: 0px;
        top: 0px;
        margin-bottom: 20px;
    }

    /* List Grid End*/

}